# Ignore environment variables
.env

# Ignore node_modules folder in frontend
frontend/node_modules/

# Ignore log files
*.log

# Ignore build output
dist/
build/

# Ignore temporary files
*.tmp
*.swp

# igone venv in backend
backend/venv/
backend/app/__pycache__/
backend/__pycache__/

# ignore migrations folder
backend/migrations
